<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExSEQATeam OrangeHrm Automation Smoke Suite">
    <test verbose="2" preserve-order="true" name="D:/Official/WebAutomationWithPOM">
        <classes>

            <class name="com.ex.se.qa.team.test.SeLoginTest"></class>
            <class name="com.ex.se.qa.team.test.SeHomePageTest"></class>
            <class name="com.ex.se.qa.team.test.SeAdminTest"></class>

        </classes>
    </test>
</suite>